USE [courier]
GO
/****** Object:  Table [dbo].[CategoryDetails]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryDetails](
	[Categoryid] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Descp] [varchar](280) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_CategoryDetails] PRIMARY KEY CLUSTERED 
(
	[Categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[location]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[location](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FromName] [varchar](100) NULL,
	[ToName] [varchar](100) NULL,
	[Distance] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurement]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurement](
	[Categoryid] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Descp] [varchar](280) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Productid] [int] IDENTITY(1,1) NOT NULL,
	[Categoryid] [int] NULL,
	[Name] [varchar](50) NULL,
	[Prod_name] [varchar](50) NOT NULL,
	[Image] [varchar](50) NULL,
	[Descp] [varchar](50) NULL,
	[Product_Content] [varchar](50) NULL,
	[Price] [varchar](50) NULL,
	[user_id] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_ProductDetails] PRIMARY KEY CLUSTERED 
(
	[Productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rate]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rate](
	[Id] [int] NULL,
	[Base_Rate] [decimal](18, 2) NULL,
	[Additional_Charges] [decimal](18, 2) NULL,
	[Approx_Distance_Km] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_order]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_order](
	[Sales_order_ID] [int] NULL,
	[User_ID] [varchar](50) NULL,
	[Order_date] [datetime] NULL,
	[Order_amount] [int] NULL,
	[Discount] [varchar](50) NULL,
	[Total_amount ] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Delivery_address] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Order_items]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Order_items](
	[Sales_OrderID] [int] NULL,
	[Product_ID] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Product_Price] [int] NULL,
	[Total_amount] [int] NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipmentOrder]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentOrder](
	[OrderId] [int] NOT NULL,
	[UserId] [int] NULL,
	[ShipDate] [datetime] NULL,
	[TotalAmount] [float] NULL,
	[Status] [varchar](100) NULL,
	[FromCity] [varchar](200) NULL,
	[ToCity] [varchar](200) NULL,
	[FromAddress] [varchar](max) NULL,
	[ToAddress] [varchar](max) NULL,
	[Height] [float] NULL,
	[Width] [float] NULL,
	[length] [float] NULL,
	[ItemId] [int] NULL,
	[TypeOfPackage] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipmentOrderItem]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentOrderItem](
	[OrderId] [int] NOT NULL,
	[NoOfPackage] [int] NULL,
	[WeightPerPackage] [float] NULL,
	[Height] [float] NULL,
	[Length] [float] NULL,
	[Width] [float] NULL,
	[PackageStatus] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipmentPayment]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentPayment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ToTalAmount] [varchar](200) NULL,
	[NameOnCard] [varchar](200) NULL,
	[ExpiryMonth] [varchar](200) NULL,
	[ExpiryYear] [varchar](200) NULL,
	[CvvNo] [varchar](200) NULL,
	[PaymentDate] [varchar](200) NULL,
	[PaymentStatus] [varchar](200) NULL,
	[PaymentMode] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_adminmaster]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_adminmaster](
	[i_autoid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[Createdate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_contactDetails]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_contactDetails](
	[i_autoid] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[EmailId] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Issue] [varchar](200) NULL,
	[Description] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_details]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_details](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [varchar](50) NULL,
	[Last_name] [varchar](50) NULL,
	[Date_of_birth] [datetime] NULL,
	[Mobile_no] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Email_ID] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[Date] [datetime] NULL,
	[Last_login_time] [datetime] NULL,
	[Status] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Rate_Calculation]    Script Date: 21-04-2025 17:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Rate_Calculation](
	[Id] [int] NULL,
	[name] [varchar](50) NULL,
	[mobile] [varchar](10) NULL,
	[address] [varchar](max) NULL,
	[dates] [date] NULL,
	[no_parcel] [int] NULL,
	[wieght] [decimal](18, 2) NULL,
	[Volume] [varchar](50) NULL,
	[from_city] [varchar](50) NULL,
	[to_city] [varchar](50) NULL,
	[Charges] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CategoryDetails] ON 

INSERT [dbo].[CategoryDetails] ([Categoryid], [Name], [Descp], [status]) VALUES (14, N'Laptop', N'', 1)
INSERT [dbo].[CategoryDetails] ([Categoryid], [Name], [Descp], [status]) VALUES (15, N'Vehical', N'', 1)
INSERT [dbo].[CategoryDetails] ([Categoryid], [Name], [Descp], [status]) VALUES (16, N'appliance', N'', 1)
SET IDENTITY_INSERT [dbo].[CategoryDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[location] ON 

INSERT [dbo].[location] ([id], [FromName], [ToName], [Distance]) VALUES (8, N'mumbai', N'delhi', 1000)
INSERT [dbo].[location] ([id], [FromName], [ToName], [Distance]) VALUES (10, N'Pune', N'mumbai', 800)
INSERT [dbo].[location] ([id], [FromName], [ToName], [Distance]) VALUES (12, N'mumbai', N'goa', 700)
SET IDENTITY_INSERT [dbo].[location] OFF
GO
SET IDENTITY_INSERT [dbo].[Measurement] ON 

INSERT [dbo].[Measurement] ([Categoryid], [Name], [Descp], [status]) VALUES (4, N'kg', N'', NULL)
INSERT [dbo].[Measurement] ([Categoryid], [Name], [Descp], [status]) VALUES (5, N'lb', N'', NULL)
INSERT [dbo].[Measurement] ([Categoryid], [Name], [Descp], [status]) VALUES (6, N'mg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Measurement] OFF
GO
INSERT [dbo].[Rate] ([Id], [Base_Rate], [Additional_Charges], [Approx_Distance_Km]) VALUES (NULL, CAST(1.50 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)), 1)
GO
INSERT [dbo].[Sales_order] ([Sales_order_ID], [User_ID], [Order_date], [Order_amount], [Discount], [Total_amount ], [Status], [Delivery_address]) VALUES (1, N'1', CAST(N'2019-03-23T19:40:11.387' AS DateTime), NULL, N'1', N'100', N'pending', 1)
INSERT [dbo].[Sales_order] ([Sales_order_ID], [User_ID], [Order_date], [Order_amount], [Discount], [Total_amount ], [Status], [Delivery_address]) VALUES (2, N'1', CAST(N'2019-03-23T19:40:53.860' AS DateTime), NULL, N'2', N'200', N'pending', 1)
INSERT [dbo].[Sales_order] ([Sales_order_ID], [User_ID], [Order_date], [Order_amount], [Discount], [Total_amount ], [Status], [Delivery_address]) VALUES (3, N'1', CAST(N'2019-03-23T19:41:41.537' AS DateTime), NULL, N'3', N'400', N'pending', 1)
GO
INSERT [dbo].[Sales_Order_items] ([Sales_OrderID], [Product_ID], [Quantity], [Product_Price], [Total_amount], [Status]) VALUES (2, N'1', 1, 100, 100, N'confirm')
INSERT [dbo].[Sales_Order_items] ([Sales_OrderID], [Product_ID], [Quantity], [Product_Price], [Total_amount], [Status]) VALUES (3, N'1', 1, 100, 100, N'confirm')
INSERT [dbo].[Sales_Order_items] ([Sales_OrderID], [Product_ID], [Quantity], [Product_Price], [Total_amount], [Status]) VALUES (4, N'1', 1, 100, 100, N'confirm')
GO
INSERT [dbo].[ShipmentOrder] ([OrderId], [UserId], [ShipDate], [TotalAmount], [Status], [FromCity], [ToCity], [FromAddress], [ToAddress], [Height], [Width], [length], [ItemId], [TypeOfPackage]) VALUES (18682869, 1, CAST(N'2023-04-14T00:00:00.000' AS DateTime), 1000, N'Shipped', N'6', N'8', N'virar', N'nsp', NULL, NULL, NULL, NULL, N'14')
INSERT [dbo].[ShipmentOrder] ([OrderId], [UserId], [ShipDate], [TotalAmount], [Status], [FromCity], [ToCity], [FromAddress], [ToAddress], [Height], [Width], [length], [ItemId], [TypeOfPackage]) VALUES (93401793, 1, CAST(N'2023-04-14T00:00:00.000' AS DateTime), 1000, N'pending', N'8', N'10', N'virar', N'nsp', NULL, NULL, NULL, NULL, N'14')
INSERT [dbo].[ShipmentOrder] ([OrderId], [UserId], [ShipDate], [TotalAmount], [Status], [FromCity], [ToCity], [FromAddress], [ToAddress], [Height], [Width], [length], [ItemId], [TypeOfPackage]) VALUES (62792863, 1, CAST(N'2023-04-14T00:00:00.000' AS DateTime), 1000, N'pending', N'6', N'12', N'virar', N'nsp', NULL, NULL, NULL, NULL, N'16')
GO
INSERT [dbo].[ShipmentOrderItem] ([OrderId], [NoOfPackage], [WeightPerPackage], [Height], [Length], [Width], [PackageStatus]) VALUES (92620464, 1, 1, 1, 1, 1, N'Pending')
INSERT [dbo].[ShipmentOrderItem] ([OrderId], [NoOfPackage], [WeightPerPackage], [Height], [Length], [Width], [PackageStatus]) VALUES (92620464, 10, 10, 10, 10, 10, N'Pending')
INSERT [dbo].[ShipmentOrderItem] ([OrderId], [NoOfPackage], [WeightPerPackage], [Height], [Length], [Width], [PackageStatus]) VALUES (64664078, 10, 1, 10, 1, 10, N'Pending')
GO
SET IDENTITY_INSERT [dbo].[ShipmentPayment] ON 

INSERT [dbo].[ShipmentPayment] ([id], [UserId], [ToTalAmount], [NameOnCard], [ExpiryMonth], [ExpiryYear], [CvvNo], [PaymentDate], [PaymentStatus], [PaymentMode]) VALUES (1, 1, N'1000', N'demo', N'Oct', N'2024', NULL, N'14-04-2023', N'Payed', NULL)
INSERT [dbo].[ShipmentPayment] ([id], [UserId], [ToTalAmount], [NameOnCard], [ExpiryMonth], [ExpiryYear], [CvvNo], [PaymentDate], [PaymentStatus], [PaymentMode]) VALUES (2, 1, N'1000', N'demo', N'Jun', N'2023', N'123', N'14-04-2023', N'Payed', N'Card')
INSERT [dbo].[ShipmentPayment] ([id], [UserId], [ToTalAmount], [NameOnCard], [ExpiryMonth], [ExpiryYear], [CvvNo], [PaymentDate], [PaymentStatus], [PaymentMode]) VALUES (3, 1, N'10260', N'demo', N'Sep', N'2026', N'123', N'14-04-2023', N'Payed', N'Card')
SET IDENTITY_INSERT [dbo].[ShipmentPayment] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_adminmaster] ON 

INSERT [dbo].[tbl_adminmaster] ([i_autoid], [username], [password], [Createdate]) VALUES (1, N'admin@gmail.com', N'123456', CAST(N'2025-04-21T00:00:00.000' AS DateTime))
INSERT [dbo].[tbl_adminmaster] ([i_autoid], [username], [password], [Createdate]) VALUES (2, N'admin2@gmail.com', N'123456', CAST(N'2025-04-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_adminmaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_contactDetails] ON 

INSERT [dbo].[tbl_contactDetails] ([i_autoid], [Name], [EmailId], [Mobile], [Issue], [Description]) VALUES (1, N'demo', N'test123@gmail.com', N'1234567890', N'', N'demo')
INSERT [dbo].[tbl_contactDetails] ([i_autoid], [Name], [EmailId], [Mobile], [Issue], [Description]) VALUES (2, N'demo', N'abc@gmail.com', N'1234567890', N'', N'demo')
INSERT [dbo].[tbl_contactDetails] ([i_autoid], [Name], [EmailId], [Mobile], [Issue], [Description]) VALUES (3, N'demo', N'abc@gmail.com', N'1234567890', N'Delivery Package Issue', N'demo')
SET IDENTITY_INSERT [dbo].[tbl_contactDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[User_details] ON 

INSERT [dbo].[User_details] ([User_ID], [First_name], [Last_name], [Date_of_birth], [Mobile_no], [Gender], [Email_ID], [Password], [Address], [Date], [Last_login_time], [Status]) VALUES (1, N'simran tiwari', NULL, NULL, N'9696150919', NULL, N'user1@gmail.com', N'1234567A', NULL, NULL, NULL, 1)
INSERT [dbo].[User_details] ([User_ID], [First_name], [Last_name], [Date_of_birth], [Mobile_no], [Gender], [Email_ID], [Password], [Address], [Date], [Last_login_time], [Status]) VALUES (2, N'demo', N'demo', NULL, N'1234567890', NULL, N'1shin5.chan@gmail.com', N'D1234567', N'virar', CAST(N'2023-11-04T13:54:29.000' AS DateTime), NULL, 1)
INSERT [dbo].[User_details] ([User_ID], [First_name], [Last_name], [Date_of_birth], [Mobile_no], [Gender], [Email_ID], [Password], [Address], [Date], [Last_login_time], [Status]) VALUES (3, N'simran tiwari', NULL, NULL, N'9696150919', NULL, N'1shin5.chan@gmail.com', N'D1234567', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[User_details] OFF
GO
INSERT [dbo].[User_Rate_Calculation] ([Id], [name], [mobile], [address], [dates], [no_parcel], [wieght], [Volume], [from_city], [to_city], [Charges]) VALUES (NULL, N'someone', N'987654321', N'iurv whlervf liuwrkv ', CAST(N'2023-04-06' AS Date), 3, CAST(13.00 AS Decimal(18, 2)), N'8', N'Mumbai', N'new Mumbai', NULL)
INSERT [dbo].[User_Rate_Calculation] ([Id], [name], [mobile], [address], [dates], [no_parcel], [wieght], [Volume], [from_city], [to_city], [Charges]) VALUES (NULL, N'User', N'1234567890', N'virar', CAST(N'2023-04-13' AS Date), 2, CAST(50.00 AS Decimal(18, 2)), N'600', N'mumbai', N'delhi', N'115')
INSERT [dbo].[User_Rate_Calculation] ([Id], [name], [mobile], [address], [dates], [no_parcel], [wieght], [Volume], [from_city], [to_city], [Charges]) VALUES (NULL, N'test2025', N'7897897897', N'E/16 Gopani Nagar, Agashi Rd, opp. Hotel On The Way, Virar West', CAST(N'2025-04-24' AS Date), 1, CAST(100.00 AS Decimal(18, 2)), N'125', N'virar', N'vasai', N'15')
GO
/****** Object:  Index [UQ__Shipment__C3905BCE462DC99C]    Script Date: 21-04-2025 17:11:01 ******/
ALTER TABLE [dbo].[ShipmentOrder] ADD UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoryDetails] ADD  CONSTRAINT [DF_CategoryDetails_status_1]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[ProductDetails] ADD  CONSTRAINT [DF_ProductDetails_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Sales_order] ADD  CONSTRAINT [DF__Sales_ord__Statu__20C1E124]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[User_details] ADD  CONSTRAINT [DF__User_deta__Statu__30F848ED]  DEFAULT ((1)) FOR [Status]
GO
